body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
}

.topnav {
    display: flex;
    margin-left: 20px;
}

.topnav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.header-name {
    color: white;
    margin: 0;
    position: absolute;
    left: 49%;
    transform: translateX(-50%);
}

.greeting {
    width: 80%;
    height: 500px;
    background-color: rgb(55, 55, 55);
    color: white;
    margin: 10px auto;
    padding: 30px;
    text-align: left;
    position: relative;
}

.greeting-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 25px;
}

.greetingTitle {
    color: rgb(92, 51, 180);
    font-weight: bold;
    font-size: 35px;
}

img {
    width: 400px;
    height: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer {
    /* Lag footer i html og css */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(92, 51, 180);
    color: white;
    text-align: center;
    width: 100%;
    min-height: 100px;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}

#contact-container {
    /* Skal kanskje ta vekk contact.html */
    /* Lager kanskje egen CSS for contact.html og kanskje de andre html dokumentene */
    color: white;
    margin-left: 40px;
}